doctype html
html
  head
  .customer

  	h2 = customer.first_name + " " + customer.last_name

  	/ p = image_tag customer.image, height:'200', width:'150'

  	p
  		strong> Phone:
  		= customer.phone

    p
  		strong> City:
  		= customer.city

    p
      strong> Province:
      = customer.province.blank? ? "None" : customer.province.name

    p
  		strong> Country:
  		= customer.country

  	p
  		strong> Email:
  		= customer.email_was

  	p
  		strong> Notes:
  		= customer.notes

// Default structure will be kept for backup
/ doctype html
/ html
/   head
/   .customer
/
/   	h2 = customer.first_name + " " + customer.last_name
/
/   	/ p = image_tag customer.image, height:'200', width:'150'
/
/   	p
/   		strong> Phone:
/   		= customer.phone
/
/     p
/   		strong> City:
/   		= customer.city
/
/     p
/       strong> Province:
/       = customer.province.blank? ? "None" : customer.province.name
/
/     p
/   		strong> Country:
/   		= customer.country
/
/   	p
/   		strong> Email:
/   		= customer.email_was
/
/   	p
/   		strong> Notes:
/   		= customer.notes



/ doctype html
/ html
/   head
/   .product
/
/   	h2 = product.name
/
/   	p = image_tag product.image_url(:thumb)
/
/   	p
/   		strong> Description:
/   		= product.description
/
/     p
/   		strong> Price:
/   		= number_to_currency product.price
/
/     p
/       strong> Quantity:
/       = product.quantity==0 ? "Out of Stock" : product.quantity
/
/
/     - if (product.on_sale)
/         p
/           = "On Sale"
/     - else
/         p
/           = "*NEW PRODUCT"
/
/     ul
/       li = link_to 'Details', details_path(product.id)


// Default structure will be kept for backup
/ doctype html
/ html
/   head
/   .customer
/
/   	h2 = customer.first_name + " " + customer.last_name
/
/   	/ p = image_tag customer.image, height:'200', width:'150'
/
/   	p
/   		strong> Phone:
/   		= customer.phone
/
/     p
/   		strong> City:
/   		= customer.city
/
/     p
/       strong> Province:
/       = customer.province.blank? ? "None" : customer.province.name
/
/     p
/   		strong> Country:
/   		= customer.country
/
/   	p
/   		strong> Email:
/   		= customer.email_was
/
/   	p
/   		strong> Notes:
/   		= customer.notes
